page-home {

}
button{
	width:80px

}
#champs{
	position: absolute;
	left: 0%;
	top:0%;
	width:280px;
	background-color: #ccc
}
#back{
	position: absolute;
	left: 50%;
	top:5%;
}
#number{
position: absolute;
top: 10%;
}
